/* task1 */

.div_div{
  background-color: rgb(237, 124, 237) ;
  height: 180px;
  width: 400px;
  margin: auto;
 
}
button{
  height: 60px;
  width: 200px;
  color: aliceblue;
  background-color: rgb(248, 141, 244);
  border: none;
  margin-top: 60px;
  margin-left: 105px;
  box-shadow: 2px;
  border-radius: 10px;
  box-shadow: -5px -4px 0 0 black, 
  5px 4px 0 0 black;
  text-shadow: 2px 5px 2px black;
}
button:hover{
  box-shadow: 5px 4px 0 0 black inset, 
  -5px -4px 0 0 white;
  text-shadow: none;

}

/* task2 */ 

.card {
  width: 300px;
  background-color: #555;
  border-radius: 20px;
  overflow: hidden;
  transition: box-shadow 1s, border-radius 1s;
  margin: 100px auto;
 transition: none;
  transition-duration: 1s;

}

.image-1{
  position: relative;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  transition: none;
  transition-duration: 1ms;
 
}
.image2{
  margin-top: 50px;
  margin-left: 35px;
  transition: none;
  transition-duration: 1s;
}
.card-text {
  font-size: 14px;
  color: white;
  margin-top: 30px;
  margin-left: 30px;

}
  .card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
    border-radius: 20px; 
}


/* task 3 */ 

h1{
  font-size: 140px;
  color: red;
  letter-spacing: 20px;
  animation: flash 0.5s infinite; 
  animation-iteration-count: infinite;

}

@keyframes flash {
  0%, 49.9% {
    opacity: 1; 
  }
  50%, 100% {
    opacity: 0; 
  }
}


/*task4 */
.spinner {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 100px auto;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #333;
}

.color {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 12px solid transparent;
  border-top-color: #3498db; 
  border-left-color: red ;
  border-right-color: yellow;
  
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
/* სპინერის გაჩერება მაუსის მიტანისას ვერ გავარკვიე */ 

/*task 5 */

header {
  background-color: #094d19; 
  padding: 10px 0;
  text-align: center;
}

nav {
  display: inline-block;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); 
  transition: color 1s, text-shadow 1s;  
}

nav ul li a:hover {
  color: pink; 
  text-shadow: 0 0 10px pink, 0 0 20px pink, 0 0 30px pink, 0 0 40px pink, 0 0 50px pink, 0 0 60px pink, 0 0 70px pink;
}

/* task6 */ 

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  
}

.div_class {
  border: 6px solid rgba(0, 0, 0, 0.3); 
  border-radius: 50%;
  border-top: 6px solid #1c272d; 
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; 
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}