/* button */


/* task2 */ 

.card {
  width: 300px;
  background-color: #555;
  border-radius: 20px;
  overflow: hidden;
  transition: box-shadow 1s, border-radius 1s;
  margin: auto;
}

.image-1{
  position: relative;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
 
}
.image2{
  margin-top: 50px;
  margin-left: 35px;
}
.card-text {
  font-size: 14px;
  color: white;
  margin-top: 30px;
  margin-left: 30px;

}

  .card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
    border-radius: 20px; 
}


/* task 3 */ 

.flashing-text {
  font-size: 140px;
  color: red;
  letter-spacing: 20px;
  animation: flash 1s infinite; 
  animation-iteration-count: infinite;
}

@keyframes flash {
  0%, 49.9% {
    opacity: 1; 
  }
  50%, 100% {
    opacity: 0; 
  }
}


/*task4 */
.spinner {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 100px auto;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #333;
}

.color {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 12px solid transparent;
  border-top-color: #3498db; 
  border-left-color: red ;
  border-right-color: yellow;
  
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}



/*task 5 */

header {
  background-color: #094d19; 
  padding: 10px 0;
  text-align: center;
}

nav {
  display: inline-block;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); 
  transition: color 1s, text-shadow 1s;  
}

nav ul li a:hover {
  color: pink; 
  text-shadow: 0 0 10px pink, 0 0 20px pink, 0 0 30px pink, 0 0 40px pink, 0 0 50px pink, 0 0 60px pink, 0 0 70px pink;
}